# SSH
ssh/*
!ssh/config
!ssh/id_rsa
!ssh/id_rsa.pub

# Mutt
mutt/accounts/*/certificates
mutt/accounts/*/cache/headers
mutt/accounts/*/cache/bodies/*
!mutt/accounts/*/cache/bodies/.gitkeep

# GPG
gnupg/crls.d/
gnupg/gpg-agent.conf
gnupg/openpgp-revocs.d/
gnupg/private-keys-v1.d/
gnupg/pubring.kbx
gnupg/random_seed
gnupg/sshcontrol
gnupg/tofu.db
gnupg/trustdb.gpg

# Tmux
tmux/plugins/*
!tmux/plugins/tpm

# Vim
.tern-port
.netrwhist
plug.vim
vim/plugged/
