# Ignore everything, but the folder the folder
!.gitkeep

# SSH
ssh/*
!ssh/config
!ssh/id_rsa
!ssh/id_rsa.pub

# Mutt
mutt/accounts/*/certificates
mutt/accounts/*/cache/*

# GPG
gnupg/pubring.kbx
gnupg/trustdb.gpg
gnupg/gpg-agent.conf
gnupg/private-keys-v1.d/
gnupg/random_seed
