"*":
  "atom-beautify":
    general:
      _analyticsUserId: "80674afc-6339-47a5-b117-98c61272a093"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "auto-update-packages":
    intervalMinutes: 1520
  "autocomplete-paths":
    enableHtmlSupport: true
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "markdown-preview"
      "spell-check"
      "whitespace"
      "language-gfm"
    ]
    ignoredNames: [
      "._*"
      ".DS_Store"
      ".git"
      ".gitkeep"
      ".hg"
      ".idea"
      ".svn"
      ".vagrant"
      "*.class"
      "*.db"
      "*.lib"
      "*.lock"
      "*.out"
      "*.sass-cache"
      "*.so"
      "*.swp"
      "*.tmp"
      "*~"
      "$RECYCLE.BIN"
      "CVS"
      "Desktop.ini"
      "ehthumbs.db"
      "nbproject"
      "node_modules"
      "Thumbs.db"
    ]
    telemetryConsent: "limited"
    themes: [
      "afterglow-ui"
      "afterglow-syntax"
    ]
    warnOnLargeFileLimit: 5
  "document-outline":
    showByDefault: false
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "f61cbfe1-ffd8-488d-b817-3bfad348d4ee"
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    panelHeight: 250
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-autohider":
    TransitionDuration: 250
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
