"*":
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  autosave:
    enabled: true
  core:
    ignoredNames: [
      "._*"
      ".DS_Store"
      ".git"
      ".gitkeep"
      ".hg"
      ".idea"
      ".svn"
      ".vagrant"
      "*.class"
      "*.db"
      "*.lib"
      "*.lock"
      "*.out"
      "*.sass-cache"
      "*.so"
      "*.swp"
      "*.tmp"
      "*~"
      "$RECYCLE.BIN"
      "CVS"
      "Desktop.ini"
      "ehthumbs.db"
      "nbproject"
      "node_modules"
      "Thumbs.db"
    ]
    telemetryConsent: "limited"
    themes: [
      "afterglow-ui"
      "afterglow-syntax"
    ]
    warnOnLargeFileLimit: 5
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "f61cbfe1-ffd8-488d-b817-3bfad348d4ee"
  linter: {}
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
